<app-topo></app-topo>
<div *ngIf="jogoEmAndamento, else fimDeJogo">
  <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
  <div *ngIf="tipoEncerramento === 'derrota'; else fimdeJogoVitoria" class="container" style="margin-top: 50px">
    <div class="row">
      <div class="col">
        <h3 style="color: lightcoral">Fim de jogo, infelizmente você perdeu :S</h3>
        <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar novamente</button>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #fimdeJogoVitoria>
  <div  class="container" style="margin-top: 50px">
    <div class="row">
      <div class="col">
        <h3 style="color: lightgreen">Fim de jogo, você ganhou :D!</h3>
        <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar novamente</button>
      </div>
    </div>
  </div>
</ng-template>

