
<div class="d-flex justify-content-end">
<!--    <img [src]="coracaoVazio">-->
<!--    <img [src]="coracaoCheio">-->
<!--    <img [src]="coracaoCheio">    -->

  <img *ngFor="let coracao of coracaos" [src]="coracao.exibeCoracao()">
</div>
